*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--dark)
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .converter {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: var(--main-color);
    padding: 30px;
    width : 450px;
    box-shadow: 2px 2px 5px rgb(212, 212, 212);
}

.container .converter .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.container .converter .pairs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.container .converter .pairs .pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 40%;
    gap: 5px;
    background-color: var(--less-dark);
    box-shadow: 2px 2px 2px var(--less-dark);
}

.container .converter .pairs .pair .entry {
    padding: 0 20px;
}

.container .converter .pairs .pair .entry input {
    width: 100%;
    color: var(--dark);
    height: 50px;
    font-size: x-large;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}

.container .converter .pairs .pair hr {
    width: 80%;
    color: var(--dark)
}

.container .converter .pairs .pair select {
    width: 100%;
    color: var(--white);
    font-size: 15px;
    padding: 5px 0;
    background: transparent;
    color: white;
    border: none;
    outline: none;
}

.container .converter button {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: var(--dark);
    color: var(--white);
    cursor: pointer;
    transition: var(--basic-transition);
}

.container .converter button:hover {
    background: transparent;
    color: var(--dark);
    font-weight: bold;
}

/* ================================================================= */
#switch {
    transition: var(--basic-transition);
    cursor: pointer;
}

#switch:hover {
    color: var(--white);
}

#first {
    text-align: end;
}

#second {
    text-align: start;
}

#first-cr {
    text-align: center;
}

#second-cr {
    text-align: center;
}

#second-pair {
    background-color: var(--less-white);
    box-shadow: 2px 2px 2px var(--less-white);
}

#second-pair * {
    color: var(--dark)
}

/* ================================================================= */
:root {
    --main-color: rgb(247, 187, 57);
    --white: rgb(255, 255, 255);
    --less-dark: rgb(206, 152, 36);
    --less-white: rgb(247, 224, 176);
    --dark: rgb(105, 75, 8);
    --basic-transition: all 0.2s;
}